PORT=8000
JWT_SECRET=change-this-secret
FRONTEND_URL=http://localhost:3000
AUTH_COOKIE_NAME=ev_session
ACCESS_TOKEN_TTL=8h
AUTH_COOKIE_MAX_AGE_MS=28800000
RESET_TOKEN_MINUTES=30
LOG_RESET_TOKENS=true
DB_SERVER=localhost\\SQLEXPRESS
DB_PORT=
DB_DATABASE=EV_Charging_System
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

DB_AUTH_USER=ev_admin01_login
DB_AUTH_PASSWORD=password

DB_ADMIN_USER=ev_admin01_login
DB_ADMIN_PASSWORD=password
DB_OPERATOR_USER=ev_operator01_login
DB_OPERATOR_PASSWORD=password
DB_BUSINESS_USER=ev_business01_login
DB_BUSINESS_PASSWORD=password
DB_FRANCHISE_USER=ev_franchise01_login
DB_FRANCHISE_PASSWORD=password
DB_CUSTOMER_USER=ev_customer01_login
DB_CUSTOMER_PASSWORD=password
